@import 'tailwindcss/preflight';
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --bg: 255 255 255;
    --text: 31 41 55; // gray-800
  }

  .dark {
    --bg: 11 15 25; // deep navy (Vue-style)
    --text: 229 231 235; // gray-200
  }

  body {
    background-color: rgb(var(--bg));
    color: rgb(var(--text));
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}

@layer components {
  // .card {
  //   background-color: rgb(var(--bg));
  //   border-radius: 1rem;
  //   padding: 1.5rem;
  // }
}
